/* body{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#ageDiv{
    display: inline-block;
    width: 199px;
    margin: 0 auto;
    background-color: rgb(239, 239, 239);
    justify-content: center;
    align-items: center;
    margin-top: 9px;
} */
/* .container{
  background-color: aqua; 
  height: 600px;
  width: 900px; 
display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-gap: 10px;
place-items: center;
}
.items{
    background-color: blue;
    height: 101px;
    width: 111px;
} */
/* p{
    width: 10px;
} */
/* .input {
    height: 500px;
    width: 700px;
    font-size: 49px;
} */
/* h1{
    text-align: center;
    margin-top: 249px;
} */

/* 
#container{
    display: none;
}

#form-container{
    display: block;
} */
